body{
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    padding: 30px;
    color: rgb(138, 120, 250);
    background-image: url(4.bgimg.png);
    background-attachment: scroll;}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    display: flex;
    font-size:30px;
    gap: 35px;
}
li:hover{text-decoration: underline;
color: goldenrod;
}
div.text{color:rgb(16, 233, 132);
    font-family: cursive;
font-size:40px;
width: 40%;
height: 150%;
align-content: space-around;
justify-content: center;
background-color: rgb(245, 245, 200);}
input{
    background-color: rgb(248, 92, 123);
    padding: 15px;
    color: #fffdfd;
    border-style: none;
    font-weight: 900;
height:50 px;
width:200px;}
input:hover{
    background-color: rgb(109, 241, 116);
    padding: 15px;
    color: #fffdfd;
    border-style:dotted;
    font-weight: 900;
}
img.chef{
    height:150px;
    width:150px;
border-radius: 50%;}
img.chef:hover{
    height:180px;
    width:180px;
}
img.menu{height: 200px;
width: 180px;
border-radius: 15px;
padding: 10px;}
div.food{
    padding-left: 80px;
    padding-right: 80px;
}
img.menu:hover{border-style:outset;
    border-color: rgb(89, 75, 180) ;
    border-width: 8px;
}
p{font-size: 30px;
color:rgb(92, 241, 247);}
footer img {position:sticky;}
div ol{display: flex;
list-style: none;
gap: 180px;
font-weight: 900;
color: white;
}





